body {
    margin: 0;
    text-align: center;
    background-color: #2D033B;
    color: #E5B8F4;
}

.top-container {
    padding: 50px;
    height: 50vh;
    background-color: #810CA8;

    h1{
        padding: 50px;
        font-size: 5.625rem;
    }

    h2 {
        padding: 50px;
        font-size: 3rem;
    }

}

.middle-container {

    h3 {
        color: #C147E9;
    }
}